# DEPENDENCIES
# This file defines the pip-equivalent package dependencies to be installed with either setup.cfg or setup.py modules, or via the command-line interface (CLI) on prem.
# pip can be installed via: "conda install pip==21.1.3" (conda env. on prem) or "apt install python3-pip" (Ubuntu-derivatives).

# PACKAGES
numpy==1.20.3 
PennyLane==0.21.0
pyscf #No support for native Windows. 
openfermionpyscf==0.5
pennylane-qchem==0.21.0 # Depends on pyscf and openfermionpyscf
matplotlib==3.5.1
jupyter #Run using: "$ jupyter notebook"

# EXTRA PACKAGES
#--extra-index-url https://[user name]:[password]@download.qamuy.qunasys.com/simple/qamuy-client
## Replace [user name] and [password] with those provided by https://qamuy.qunasys.com/.

# Command-Line Interface (CLI) Hacks
## To show the current pip version, run: $ pip --version
## To manually install an individual package, run: $ python3 -m pip install <package-name>.
## To list installed packages, run: $ pip list
## To show a package info, run: $ pip show <package-name>
## To upgrade a package, run: $ python3 -m pip install --user --upgrade <package-name>==<version-number>
## To uninstall packages, run: $ pip uninstall <package1> <package2>

# SETUP.py
## The setup.py module reads this file and installs each package via the pip tool (a python package manager).
## Alternatively, one can manually install all dependencies on this file via: $ python3 -m pip install -r requirements.txt
## To manually upgrade this file dependencies, run: $ python3 -m pip install -U -r requirements.txt

# NOTES
## PySCF does not support native windows platform. See issue #750 at https://github.com/pyscf/pyscf/issues/750. On linux: python3 -m pip install pyscf --user
## The -m flag in "python3 -m pip" enforce the pip version tied to the active environment, i.e, executes pip as the __main__ module).
## The 'pip install jupyter' command will install the Jupyter system, including the jupyter notebook, qtconsole, and the IPython kernel.
## One should avoid 'pip install conda' since it will not give conda as a standalone application.
